*{margin: 0%;}
.profile-pic{
    width: 150px;
    height: 180px;}

.h1{color: rgb(139, 3, 3);}
.h2{color: rgb(103, 2, 2);}
.h4{color: rgb(103, 2, 2);}


.bodyfull{    
    display:flex;
    flex-direction: column;
    align-items:center;
    background-color: rgb(244, 211, 211);}

.box{
    width: 50%;
    
    padding: 20px;
    border: 4px solid rgb(7, 63, 7);
    background-color: rgb(241, 247, 201);
    
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;}

.innerbox{display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;}