{% extends "base.html" %}
{% load static %}

{% block content %}

    <link rel="stylesheet" href="{% static 'css/products.css' %}">
    <h2>Order Details</h2>
    <p><b>Order ID:</b> {{ order.id }}</p>
    <p><b>Order Date:</b> {{ order.order_date }}</p>
    <p><b>Status:</b> {{ order.status }}</p>
    <table border="1">
        <tr>
            <th>Product</th>
            <th>Image</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Subtotal</th>
        </tr>
        {% for item in order_items %}
        <tr>
            <td>{{ item.product.name }}</td>
            <td>
                {% if item.product.pimg %}
                    <img src="{{ item.product.pimg.url }}" width="100">
                {% endif %}
            </td>
            <td>₹{{ item.price }}</td>
            <td>{{ item.quantity }}</td>
            <td>₹{{ item.sub_total }}</td>
        </tr>
        {% endfor %}
    </table>
    <h3>Total : ₹{{ order.total }}</h3>
{% endblock %}